body{
    background-color: white;
    text-align: center;
}
header {
 text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b80707;
}

nav a {
  width: 200px;
  text-align:center;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #07bb07
}
h1{
    font-style: italic;
    color: black;
    font-size: larger;
}
.E1{
    color: black;
}
h2{
    color: #b80707;
    font-weight: 200;
}
.E2{
    color: black;
}
.Hypercar {
    width: 50%;
}
.E3{
    color: black;
}
h3{
    color:#07bb07;
    font-weight: 200;
}
.E4{
    color: black;
}
.LMGT3 {
    width: 50%;
}
.E5{
    color: black;
}
h4{
    color: rgb(9, 9, 78);
    font-weight: 250;
}
.E6{
    color: black;
}