body{
    background-color: white;
    text-align: center;
}
h1{
    font-style: italic;
    color: black;
    font-size: larger;
}
.E1{
    color: black;
}
h2{
    color: rgb(184, 7, 7);
    font-weight: 200;
}
.E2{
    color: black;
}
.Hypercar {
    width: 50%;
}
.E3{
    color: black;
}
h3{
    color:rgb(7, 187, 7);
    font-weight: 200;
}
.E4{
    color: black;
}
.LMGT3 {
    width: 50%;
}
.E5{
    color: black;
}
h4{
    color: rgb(9, 9, 78);
    font-weight: 250;
}
.E6{
    color: black;
}