body{
    color: #564bf0;
    text-align: center;
}
.A1{
    color: black;
}
.A2{
    color: black;
}
.A3{
    color: black;
}
.A4{
    color: black;
}
.A5{
    color: black;
}
.A6{
    color: black;
}
.A7{
    color: black;
}
.imagem{
    width: 10%;
}