body{
    background-color:#0091ff;
    text-align: center;
}
header {
 text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

nav a {
  width: 200px;
  text-align: center;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #0091ff;
}

h1 {
  color: white;
  font-weight: 200;
  font-size:larger;
}
.A1{
    color: black;
}
.A2{
    color: black;
}
.A3{
    color: black;
}
.A4{
    color: black;
}
.A5{
    color: black;
}
.A6{
    color: black;
}
.A7{
    color: black;
}
.WEC {
    width: 45%;
}