body{
    background-color: rgb(86, 75, 240);
    text-align: center;
}
h1 {
    font-style: italic;
    color: white;
    font-size: larger;
}
h2 {
    color: white;
    font-weight: 200;
}
.imagem{
    width: 65% ;
}
.lista{
    text-align: center;
    color: white;
}
